.hero {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 80px auto 80px auto;
  font-family: sans-serif;
}

.hero-left {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 10px 0;
}

.hero__title {
  font-weight: 800;
  font-size: 56px;
  line-height: 110.00000000000001%;
  letter-spacing: 0%;
  color: #0F172A;
}

.hero__subtitle {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  letter-spacing: 0%;
  color: #475569;
}

.forma {
  display: flex;
  gap: 20px;
}

.forma-input {
  width: 300px;
  height: 40px;
  border: 1px solid #CBD5E1;
  border-radius: 8px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 0px 10px;
}

.forma-input .icon {
  font-size: 24px;
}

.forma-input input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
}

.forma-btn {
  background-color: #2563EB;
  color: white;
  width: 160px;
  height: 40px;
  border: none;
  border-radius: 8px;
}

.hero__logos {
  display: flex;
  gap: 20px;
}